body, h1, h2, h3, h4, h5, h6, p, form, button {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff; /* White background */
    font-family: Arial, sans-serif;
    color: #333; /* Dark text for contrast */
}

#container {
    width: 90%;
    max-width: 40em;
    margin: 2em auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s; 
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
    color: #D32F2F; /* Dark red for labels */
}

input[type="email"], input[type="password"], input[type="deviceId"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #E57373; /* Light red for borders */
    border-radius: 0.25em;
    font-size: 1em;
}

button {
    background-color: #D32F2F; /* Red background for buttons */
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 0.75em 1.25em;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #B71C1C; /* Darker red on hover */
}

p, a {
    margin-top: 1.25em;
    font-size: 0.875em;
    color: #555; /* Slightly darker text for readability */
}

a {
    color: #D32F2F; /* Red links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#weeklySummary, #measurementSettings, #dailyView, #registeredDevices {
    background-color: #FFEBEE; /* Very light red for sections */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

h2 {
    color: #D32F2F; /* Red for headings */
    font-size: 1.5em;
    margin-bottom: 1em;
}

#weeklySummary p {
    font-size: 1em;
    line-height: 1.6;
    color: #e84c4c;
}

#weeklySummary p span {
    font-weight: bold;
}

#sidebar {
    position: fixed;
    left: -50%; /* Adjusted for correct initial position */
    top: 0;
    width: 20%;
    height: 100%;
    background: #D32F2F; /* Red sidebar */
    padding: 1em;
    transition: left 0.3s; 
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li button {
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
    background-color: transparent;
    color: white;
    text-align: left;
}

#content {
    margin-left: 0;
    transition: margin-left 0.3s;
}

.sidebar-expanded #sidebar {
    left: 0;
}

.sidebar-expanded #content {
    margin-left: 20%;
}

#toggleSidebar {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #B71C1C; 
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    z-index: 2; 
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        left: -100%;
    }

    .sidebar-expanded #sidebar {
        left: 0; 
    }

    .sidebar-expanded #container {
        margin-left: 0; 
    }
    #toggleSidebar {
        z-index: 2; 
    }
}


/* Styles for Team Section */
.contentSection {
    background-color: #FFEBEE; /* Very light red, consistent with other sections */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

.teamMember {
    margin-bottom: 1em;
}

.teamMember h3 {
    color: #D32F2F; /* Red for headings, consistent with other h2 elements */
    margin-bottom: 0.5em;
}

.teamMember p {
    font-size: 1em;
    line-height: 1.6;
    color: #333; /* Dark text for contrast, consistent with body color */
}

.projectExplanation h3 {
    color: #D32F2F; /* Red for headings */
    margin-bottom: 0.5em;
}

.projectExplanation p {
    font-size: 1em;
    line-height: 1.6;
    color: #333; /* Dark text for contrast */
}
