/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, form, button {
    margin: 0;
    padding: 0;
}

/* Make a background color for the page */
body {
    background-color: #fff; /* White background */
    font-family: Arial, sans-serif;
    color: #333; /* Dark text for contrast */
}

/* Center the container */
#container {
    width: 90%;
    max-width: 40em;
    margin: 2em auto;
    background-color: #fff;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.1);
}

/* Style the form fields and labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
    color: #D32F2F; /* Dark red for labels */
}

input[type="email"], input[type="password"], input[type="deviceId"], input[type="time"], input[type="number"] {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #E57373; /* Light red for borders */
    border-radius: 0.25em;
    font-size: 1em;
}

/* Style the button */
button {
    background-color: #D32F2F; /* Red background for buttons */
    color: white;
    border: none;
    border-radius: 0.25em;
    padding: 0.75em 1.25em;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #B71C1C; /* Darker red on hover */
}

/* Add some spacing and font styling */
p, a {
    color: #555; /* Slightly darker text for readability */
}

a {
    color: #D32F2F; /* Red links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styling for sections */
#weeklySummary, #measurementSettings, #dailyView, #registeredDevices {
    background-color: #FFEBEE; /* Very light red for sections */
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}

h2 {
    color: #D32F2F; /* Red for headings */
}

/* Sidebar Styling */
#sidebar {
    background: #E57373; /* Light red for the sidebar */
    position: fixed;
    left: -50%; 
    top: 0;
    width: 20%;
    height: 100%;
    background: #333;
    transition: left 0.3s;  
    padding: 1em;
    /* Other styles remain the same */
}

#sidebar ul li button {
    color: white; /* White text for contrast */
    width: 100%;
    padding: 0.5em;
    cursor: pointer;
}

/* Toggle Sidebar Button */
#toggleSidebar {
    background-color: #FFCDD2; /* Lighter red for the toggle button */
    color: white; /* White text for contrast */
    position: fixed;
    left: 0;
    top: 0;
    transition: left 0.3s;
}
/* Responsive Design */
@media (max-width: 768px) {
    #container {
        width: 95%;
        margin: 1em auto;
        padding: 1em;
    }

    #sidebar {
        width: 100%;
        left: -100%;
    }

    .sidebar-expanded #sidebar {
        left: 0;
    }

    .sidebar-expanded #container {
        margin-left: 0;
    }

    #toggleSidebar {
        z-index: 2; /* Ensure button is above other elements */
    }
}
